Agreed.  The reference to a timestamp standard could just be stated as RFC 3389.

I think that you need to be a bit more specific as RFC 3389 allows for just date or time productions as well as space ` ` between date and time where as tag 0 in RFC 8949 limits this to the complete date-time production and only having `T` in between the date and time (as refined in RFC 4287).
So maybe better to refer to the tag 0 date/time in RFC 8949.
If you prefer to be even more unambiguous maybe you should also restrict to only using `zulu` (`Z`) time.